

</body>

<footer>
  
  <div class="container-fluid text-center py-4">

    <div class="text-center text-md-center">
      <div class="copyright">
        &copy; Copyright <strong><span>Aerglo-Clinic</span></strong>. All Rights Reserved
      </div>
    </div>
  </div>

</footer>

<div id="preloader"></div>
<script src="javascript/home.js"></script>

</html>
