<%- include("homeHead") -%>

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">Aerglo-Clinic</a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/dlogin">Doctor Login</a></li>
        </ul>
      </nav>
      <a href="/plogin" class="appointment-btn">Book Consultation</a>
    </div>
  </header>
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
      <h1>Welcome to Aerglo-Clinic</h1>
      <h2>Empowering People to Improve Their Lives.</h2>
      <a href="/plogin" class="btn-get-started">Book Consultation</a>
    </div>
    <div class="col-md-4 section-title">
      <img src="images/home.svg" alt="" class="d-block mx-auto mt-4" height="250">
    </div>
  </div>
  </section>
  <main id="main">
    <section id="services" class="services">
        <div class="container">
          <div class="section-title">
            <h2>Vision</h2>
            <p>Our vision is to achieve the status of “most preferred medical centre” in terms of overall patient satisfaction.</p>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="icon-box">
                <div class="icon"><i class="fa fa-heart"></i></div>
                <h4><a href="">Patient Care</a></h4>
                <p>With specialist doctors, well trained staff and state of the art facilities under one roof, Venugram Hospital is committed to provide the best in class health care services to its patients.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="icon-box">
                <div class="icon"><i class="fa fa-plus"></i></div>
                <h4><a href="">Remote Booking</a></h4>
                <p>Patients can book a consultation by staying at their home.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="fa fa-hospital"></i></div>
                <h4><a href="">Patient Relationship Module</a></h4>
                <p>We allow patient to view his previous consultations so he can access the prescription anytime anywhere.</p>
              </div>
            </div>
        </div>
      </section>
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose Aerglo-Clinic?</h3>
              <p>
                Aerglo-Clinic is committed to meeting patient needs and increasing patient satisfaction through continual improvement of its services, quality management system and by empowerment of staff. To deliver holistic, patient friendly and quality health care to all sections of the community. To create facilities and environment for teaching and training on evidence based medicine to all health care personnel.
              </p>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Online Records</h4>
                    <p>Maintain all your records online</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Patient Friendly</h4>
                    <p>Our Platform is specifically designed keeping patients in mind</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Minimalistic Design</h4>
                    <p>Our platform is light weight so it can run on any smartphone with internet access.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>
  
<%- include("homeFoot") -%>